@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-text-primary: #0d1f33;
	--color-text-secondary: #1a3b5a;
	--color-text-tertiary: #7d9cb8;

	--color-bg-default: #f5faff;
	--color-bg-muted: #e6faff;
	--color-bg-card: #ffffff;

	--color-border-default: #b3ecff;
	--color-border-muted: #d0f4ff;

	--color-hover-primary: #00c9e6;
	--color-hover-muted: #33e3ff;
	--color-accent: #00e3ff;
}

@layer base {
	@variant dark {
		--color-text-primary: #f0faff;
		--color-text-secondary: #c0f0ff;
		--color-text-tertiary: #99eaff;

		--color-bg-default: #00040f;
		--color-bg-muted: #0d1a2b;
		--color-bg-card: #040e1b;

		--color-border-default: #005580;
		--color-border-muted: #002233;

		--color-hover-primary: #33f0ff;
		--color-hover-muted: #66f7ff;
		--color-accent: #00e3ff;
	}
}

/* montserrat-200 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/montserrat-v29-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/montserrat-v29-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/montserrat-v29-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/montserrat-v29-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	font-family:
		"Montserrat",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji";
}
@layer base {
	html {
		@apply text-base leading-relaxed tracking-wide;
	}
	h1 {
		@apply text-3xl sm:text-4xl md:text-5xl font-bold text-text-primary;
	}

	h2 {
		@apply text-2xl sm:text-3xl md:text-4xl font-semibold text-text-primary;
	}

	h3 {
		@apply text-lg sm:text-xl md:text-2xl font-semibold text-text-primary;
	}

	h4 {
		@apply text-base sm:text-lg md:text-xl font-semibold text-text-primary;
	}

	h5 {
		@apply text-sm sm:text-base font-semibold text-text-primary;
	}

	button {
		@apply text-text-primary font-semibold hover:bg-hover-primary  py-2 px-4 rounded transition-colors duration-200 cursor-pointer border border-border-default bg-bg-card;
	}
	p,
	li,
	a {
		@apply text-base sm:text-lg text-text-secondary no-underline;
	}
	a {
		@apply cursor-pointer;
	}
}
